<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClandestineDevelopment.Tools.BatchDnsLookup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClandestineDevelopment.Tools.BatchDnsLookup.Properties.Settings>
            <setting name="EnableCustomDnsServers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryDnsServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryDnsServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDebugLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableThreading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DnsQueryTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DnsQueryRetryCount" serializeAs="String">
                <value>2</value>
            </setting>
        </ClandestineDevelopment.Tools.BatchDnsLookup.Properties.Settings>
    </userSettings>
</configuration>